body{
    font-family: American Typewriter;
    
    
}
.main{
    margin: 20px auto;
    width: 80%;
    
}

.main .espaco{
    margin-bottom: 80px;
}

h1{
    font-weight: 600;
    color: rgb(14, 126, 48);
    text-align: center;
    background-color: rgb(173, 255, 47,0.7);
}
h2{
    background-color: rgba(8, 131, 212, 0.7);
    color: rgb(5, 51, 151);
    font-weight: 600;
    text-indent: 12px;
    border-bottom: solid 2px rgb(5, 51, 151);
}
p{
    font-size: 13px;
    font-weight: 300;
}
h3{
    font-size: 18px;
    font-weight: 600;
}
h4{
    font-size: 16px;
    font-weight: 400;
}

a{
    text-decoration-line: none;
}
li{
  
}

